<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean id="userController" class="controller.UserController">
        <property name="userService" ref="userService"/>
    </bean>
    
		<bean id="userService" class="service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="locationDao" ref="locationDao"/>
        <property name="requestDao" ref="requestDao"/>
    </bean>

    <bean id="userDao" class="dao.UserDaoImpl">
    	<property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="locationDao" class="dao.LocationDaoImpl">
    	<property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="requestDao" class="dao.RequestDaoImpl">
    	<property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="statusDao" class="dao.StatusDaoImpl">
    	<property name="sqlSession" ref="sqlSession"/>
    </bean>
    <bean id="blogDao" class="dao.BlogDaoImpl">
    	<property name="sqlSession" ref="sqlSession"/>
    </bean>
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		  <constructor-arg index="0" ref="sqlSessionFactory" />
		</bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" scope="singleton">
    	<property name="configLocation" value="classpath:mybatis-config.xml"/>
      <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
       <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
       <property name="url" value="jdbc:mysql://localhost:3306/blog?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"></property>
       <property name="username" value="root"></property>
       <property name="password" value="gz.19960828"></property>
       <property name="defaultAutoCommit" value="true"></property>
    </bean>
    
    <bean id="request" class="entity.Request">
    	<property name="statusDao" ref="statusDao"/>
    </bean>
    
    
</beans>