body {
	text-align: center;
}

.login label {
	font-size:1.4rem;
	color:rgba(55,69,81,.2);
}

.login input {
	font-size:1.5rem;
	width:96.5%;
}

h1 {
	font-size:4rem;
	font-weight:400;
}

.login{
	display:inline-flex;
	text-align: center;
	margin-top:15%;
	width:70%;
}

.interface{
	width:40%;
	margin:auto;
	color:rgba(55,69,81,.2);
	
}

.they{
	width:60%;
}

.pointer:hover {
    cursor:pointer;
}

.login .message {
	color:#9f3a38;
    text-transform:capitalize;
}

p {
	height:15px;
}

.email {
	text-align:left;
	color:rgba(55,69,81,.8);
	width:100%;	
}

.email:hover {
	cursor:auto;
}

.name {
	text-align:right;
	color:rgba(55,69,81,.8);
	width:100%;
}

.name:hover {
	cursor:auto;
}

.visible {
	display:none;
}

.option {
	display:inline-flex;
	margin:0;
	width:100%;
	font-size:20px;
}
