body{
	text-align: center;
}
label{
	font-size:1.4rem;
}

input{
	font-size:1.5rem;
}

h1{
	font-size:4rem;
	font-weight:400;
}

.login{
	display:inline-flex;
	text-align: center;
	margin-top:15%;
	width:70%;
}

.interface{
	width:40%;
	text-align: left;
	margin-right: 5%;
	margin-left: 5%;
}

.they{
	width:60%;
}

.login .message {
	color:#9f3a38;
    text-transform:capitalize;
}

p {
	height:15px;
}


