@CHARSET "UTF-8";

*{
	box-sizing:border-box;
}

body{
	padding:0;
	margin:0;
}

.header{
	background-color:rgba(243,244,247,1);
	height:100px;
	margin:0;
	padding:0;
	text-align:center;
}

.headline{
	margin-left:auto;
	margin-right:auto;
	margin-top:23.5px;
	width:50%;
	display:inline-flex;
	text-align:center;
}

.float{
	flex-grow:1;
	display:inline-flex;
}

.radius{
	height:50px;
	width:50px;
	border-radius:100rem;
	border:solid 1.5px #6cb075;
	line-height:50px;
	color:#6cb075;
	font-size:1.1rem;
	flex-grow:0;
	flex-shrink:1;
	display:inline-block;
}

.column{
	text-transform:uppercase;
	font-size:1.1rem;
	line-height:53px;
	flex-grow:1;
	margin:0 10px;
}

.chosen{
	color:white;
	background-color:#6cb075;
}

.current{
	color:#6cb075;
	font-weight:600;
}

h1{
	margin-top:2%;
}

form{
	width:65%;
	margin-left:auto;
	margin-right:auto;
}

.form{
	width:47.5%;
	float:left;
	text-align:left;
	
}

.two{
	display:inline-flex;
	width:100%;	
}

.two input{
	width:100%
	
}

label{
	width:auto;
}

.form .half{
	padding:0 15px;
	box-sizing:border-box;
	flex-shrink:1;
	flex-grow:0;
	width:50%;
}

.form .two .half:first-child{
	padding-left:0;
}

.form .two .half:last-child{
	padding-right:0;
}

.form.left{
	margin-right:5%;
}

